body{
background : LightGray;
}

.self_picture{
position: fixed;
    left: 15%;
    top: 0%;
    border-radius: 50%;
    height:200px;
    width: 200px;
}

.header{
    font : Roboto;
    color: black;
    font-size: 50px;
    position: absolute;
    left: 2%;
    top 30%;
    z-index: 10
}

.link{
    color : black;
    font : Roboto;
    font-size: 40px;
    letter-spacing: 1px;
    padding: 10px;

}
.navbar {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: grey;
    border: 5px solid black;
}

.socialBar {
    position: fixed;
    top : 35%;
    right: 50%;
    transform: translate(50%, 50%);
}
.socialImg {
    height: 75px;
    width: 75px;
}

.bannerImage {

    position: fixed;
    top:0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-image: url("grandcanyon.jpg");
    background-color: purl;
    background-position: center;

}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }