body{
    background: LightGrey;
}

.resume, .navbar{
    display: inline-block;
}

.navbar {
    position: absolute;
    left: 65%;
    top: 30%;
    transform: translate(0%, -50%);
    background: grey;
    border: 5px solid black;

}

.link{
    color : black;
    font : Roboto;
    font-size: 40px;
    letter-spacing: 1px;
    padding: 10px;

}

.header{
color: black;
font : Roboto;
font-size: 20px;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }